<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878828735668-90ijnptlmd9hg8a2sve2g42q6uuamc4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878828735668-90ijnptlmd9hg8a2sve2g42q6uuamc4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>878828735668-0ohofuljt9m0nfic521kunp6dspjlaqu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLT-q2_mEUBrQQ4kytG90RV8lqlXjhGYY</string>
	<key>GCM_SENDER_ID</key>
	<string>878828735668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bidskan.happy</string>
	<key>PROJECT_ID</key>
	<string>login-1ea0a</string>
	<key>STORAGE_BUCKET</key>
	<string>login-1ea0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878828735668:ios:eba4d1532b2dd5ebc6dbe1</string>
	<key>DATABASE_URL</key>
	<string>https://login-1ea0a.firebaseio.com</string>
</dict>
</plist>